

<div id="carousel-example-generic" class="carousel slide home-carousel" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    {% for i in (0..2) %}
      <li data-target="#carousel-example-generic" data-slide-to="{{ i }}" {% if i == 0 %}class="active"{% endif %}></li>
    {% endfor %}
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    {% for i in (0..2) %}
      <div class="item {% if i == 0 %}active{% endif %}">
        <a href="#">
          <img src="http://lorempixel.com/g/1170/500?random={{ i }}" alt="Slide {{ i | plus: 1 }}" style="height:500px;">
        </a>
        <div class="carousel-caption">Lacinia odio suscipit vestibulum nisl...</div>
      </div>
    {% endfor %}
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
