<div class="col-md-12" id="EditAddress_{{ address.id }}" class="form-vertical" style="display:none;">
  <form>

    <h4>Edit Address</h4>

    <div class="form-group">
      <label for="AddressFirstName_{{ form.id }}">First Name</label>
      <input type="text" id="AddressFirstName_{{ form.id }}" class="form-control" name="address[first_name]" value="{{ form.first_name }}" autocapitalize="words">
    </div>

    <div class="form-group">
      <label for="AddressLastName_{{ form.id }}">Last Name</label>
      <input type="text" id="AddressLastName_{{ form.id }}" class="form-control" name="address[last_name]" value="{{ form.last_name }}" autocapitalize="words">
    </div>

    <div class="form-group">
      <label for="AddressCompany_{{ form.id }}">Company</label>
      <input type="text" id="AddressCompany_{{ form.id }}" class="form-control" name="address[company]" value="{{ form.company }}" autocapitalize="words">
    </div>

    <div class="form-group">
      <label for="AddressAddress1_{{ form.id }}">Address1</label>
      <input type="text" id="AddressAddress1_{{ form.id }}" class="form-control" name="address[address1]" value="{{ form.address1 }}" autocapitalize="words">
    </div>

    <div class="form-group">
      <label for="AddressAddress2_{{ form.id }}">Address2</label>
      <input type="text" id="AddressAddress2_{{ form.id }}" class="form-control" name="address[address2]" value="{{ form.address2 }}" autocapitalize="words">
    </div>

    <div class="form-group">
      <label for="AddressCity_{{ form.id }}">City</label>
      <input type="text" id="AddressCity_{{ form.id }}" class="form-control" name="address[city]" value="{{ form.city }}" autocapitalize="words">
    </div>

    <div class="form-group">
      <label for="AddressCountry_{{ form.id }}">Country</label>
      <select id="AddressCountry_{{ form.id }}" class="form-control" name="address[country]" data-default="{{ form.country }}">{{ country_option_tags }}</select>
    </div>

    <div class="form-group" id="AddressProvinceContainer_{{ form.id }}" style="display:none">
      <label for="AddressProvince_{{ form.id }}">Province</label>
      <select id="AddressProvince_{{ form.id }}" class="form-control" name="address[province]" data-default="{{ form.province }}"></select>
    </div>

    <div class="form-group">
      <label for="AddressZip_{{ form.id }}">Zip</label>
      <input type="text" id="AddressZip_{{ form.id }}" class="form-control" name="address[zip]" value="{{ form.zip }}" autocapitalize="characters">
    </div>

    <div class="form-group">
      <label for="AddressPhone_{{ form.id }}">Phone</label>
      <input type="tel" id="AddressPhone_{{ form.id }}" class="form-control" name="address[phone]" value="{{ form.phone }}">
    </div>

    <div class="form-group">
      <div class="checkbox" id="default_address_checkbox">
        <label for="address_default_address_new"><input type="checkbox"> Set as default address</label>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <span class="pull-left"><input type="button" class="btn btn-primary" value="Update"></span>
        <span class="pull-right"><a href="#" class="btn btn-default" onclick="Shopify.CustomerAddress.toggleForm({{ form.id }}); return false;">Cancel</a></span>
      </div>
    </div>

    <hr>
  </form>
</div>
