

<div class="top-bar">
  <div class="container">
    <div class="row">
      <div class="col-xs-6">
        <span class="label glyphicon glyphicon-earphone"> {{ site.shop.phone }} </span>

        <span class="label glyphicon glyphicon-envelope"> {{ site.shop.email }} </span>
      </div>
      <div class="col-xs-6 text-right">
        <div class="btn-group">
          <button id="account-button" type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            My account <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Logout</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
