

<nav class="navbar navbar-default navbar-static-top navbar-main">
  <div class="container">

    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/" itemprop="url">
        {% if settings.logo_use_image %}
          <img src="{{ 'logo.png' | asset_url }}" alt="{{ shop.name }}" itemprop="logo">
        {% else %}
          {{ site.shop.name }}
        {% endif %}
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        {% for link in site.data.linklists.main-menu.links %}
         {% assign child_list_handle = link.title | downcase | replace: " ", "-" %}
         {% if link[child_list_handle].links != nil %}
           <li class="dropdown{% if link.active %} active{% endif %}">
             <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
               {{ link.title }} <span class="caret"></span>
             </a>
             <ul class="dropdown-menu">
               {% for childlink in link[child_list_handle].links %}
                 <li {% if childlink.active %} class="active"{% endif %}>
                   <a href="{{ childlink.url }}">{{ childlink.title }}</a>
                 </li>
               {% endfor %}
             </ul>
           </li>
           {% else %}
           <li {% if link.active %}class="active"{% endif %}>
             <a href="{{ link.url }}">{{ link.title }}</a>
           </li>
         {% endif %}
       {% endfor %}
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {% unless page.url contains "/search/" %}
          <li>
            <!-- <a href="/search"> -->
            <a role="button" data-toggle="collapse" href="#search-bar" aria-expanded="false" aria-controls="search-bar">
              <span class="glyphicon glyphicon-search"></span>
            </a>
          </li>
        {% endunless %}
        {% unless page.url contains "/cart/" %}
          <li>
            <a role="button" data-toggle="collapse" href="#cart" aria-expanded="false" aria-controls="cart">
              <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
            </a>
          </li>
        {% endunless %}
      </ul>
    </div>
  </div>
</nav>
