

<link rel="stylesheet" href="/assets/owl-carousel/owl.carousel.css">
<link rel="stylesheet" href="/assets/owl-carousel/owl.theme.css">
<link rel="stylesheet" href="/assets/owl-carousel/owl.transitions.css">
<script src="/assets/owl-carousel/owl.carousel.min.js"></script>

<div id="owl-carousel" class="owl-carousel">
  {% for i in (1..10) %}
    <div class="item">
      <img src="/img/carousel/{{ i }}.jpg" alt="Slide {{ i }}" class="img-responsive">
      <div class="item-text">
        <h2>Down to the last detail</h2>
         <!-- top-notch -->
        <h3>Franklin is a responsive theme that actually works.</h3>
      </div>
    </div>
  {% endfor %}
</div>

<script type="text/javascript">
  $(document).ready(function() {
    $("#owl-carousel").owlCarousel({
      // navigation : true,
      autoPlay: true,
      transitionStyle: "fade",
      slideSpeed: 300,
      paginationSpeed: 400,
      singleItem: true
    });
  });
</script>
