{% assign product = include.product %}
{% assign featured_image = product.images.first %}
{% assign on_sale = false %}
{% if product.compare_at_price > product.price %}
  {% assign on_sale = true %}
{% endif %}

{% assign sold_out = true %}
{% if product.available %}
  {% assign sold_out = false %}
{% endif %}

<div class="col-md-3 col-sm-4 col-xs-6">
  <div class="thumbnail">
    <a href="{{ product.url }}" class="grid-img-outer">
      <!-- <img src="{ featured_image.src2 }" alt="{ featured_image.alt }"> -->
      <!-- <img src="http://lorempixel.com/253/253/technics?random={{ product.id }}" alt="{{ product.title }}"> -->
      <img src="/img/products/sm/{{ product.id }}.jpg" alt="{{ product.title }}">
    </a>
    <div class="caption">
      <h5>
        <a href="{{ product.url }}">{{ product.title }}</a>
      </h5>
      <p>
        {% comment %}
          You can show a leading 'from' or 'up to' by checking 'product.price_varies'
          if your variants have different prices.
        {% endcomment %}

        {% if sold_out %}
          <strong>Sold Out</strong>
        {% elsif on_sale %}
          {% if product.price_varies %}
            {% assign sale_price = product.price | money %}
            {{ 'products.product.on_sale_from_html' | t: price: sale_price }}
          {% else %}
            <strong>${{ product.price | money }}</strong>
            <span class="label label-danger label-onsale pull-right">ON SALE</span>
          {% endif %}
          &nbsp;
          <s class="text-muted">${{ product.compare_at_price | money }}</s>
        {% else %}
          {% if product.price_varies %}{{ 'products.general.from' | t }}{% endif %}
          <strong>${{ product.price | money }}</strong>
        {% endif %}
      </p>
    </div>
  </div>
</div>
