

<div id="search-bar" class="search-bar {% unless page.url contains '/search/' %} collapse {% endunless %}">
  <form action="/search" method="get" role="search">
    <div class="input-group input-group-lg">
      <input type="search" name="q" placeholder="Search" class="form-control" aria-label="Search">
      <span class="input-group-btn">
        <button type="submit" class="btn btn-default">
          <span class="glyphicon glyphicon-search"></span>
        </button>
      </span>
    </div>
  </form>
</div>
