---
layout: default
---

<main role="main">
  <div class="container">
    <!-- /templates/collection.liquid -->
    <div class="row">
      <div class="col-md-3">
        <!-- /snippets/collection-sidebar.liquid -->
        <h3>Tags</h3>
        <ul class="list-unstyled">
          <li class="tag-active"> <a href="/collections/all">
          All
        </a> </li>
          <li> <a title="Show products matching tag kicks" href="/collections/all/kicks">kicks</a> </li>
        </ul>
      </div>
      <div class="col-md-9">
        <div class="row products-grid">
          <div class="col-md-3 col-sm-4 col-xs-6">
            <div class="product-grid-item thumbnail">
              <a href="/products/awesome-sneakers" class="grid__image">
                <img class="grid-img" src="//cdn.shopify.com/s/files/1/0750/5653/products/ni313171_600_thum1_10_674_17041_large.jpeg?v=1429521033" alt="Awesome Sneakers"> </a>
              <div class="product-caption">
                <h5> <a href="/products/awesome-sneakers">Awesome Sneakers</a> </h5>
                <p>
                  <strong>On Sale</strong> from €110.00
                  <br>
                  <s>€150.00</s>
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-4 col-xs-6">
            <div class="product-grid-item thumbnail">
              <a href="/products/cool-kicks" class="grid__image">
                <img class="grid-img" src="//cdn.shopify.com/s/files/1/0750/5653/products/jo340254_061_thum1___13873_large.jpeg?v=1427794308" alt="Cool Kicks"> </a>
              <div class="product-caption">
                <h5> <a href="/products/cool-kicks">Cool Kicks</a> </h5>
                <p>
                  <strong>€120.00</strong>
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-4 col-xs-6">
            <div class="product-grid-item thumbnail">
              <a href="/products/gift-card" class="grid__image">
                <img class="grid-img" src="//cdn.shopify.com/s/files/1/0750/5653/products/e38bd83af578077b65a31424bd24d085_large.png?v=1429517182" alt="Gift Card"> </a>
              <div class="product-caption">
                <h5> <a href="/products/gift-card">Gift Card</a> </h5>
                <p> From
                  <strong>€10.00</strong>
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-4 col-xs-6">
            <div class="product-grid-item thumbnail">
              <a href="/products/gnarly-shoes-1" class="grid__image">
                <img class="grid-img" src="//cdn.shopify.com/s/files/1/0750/5653/products/ASHL835-2616_thum1_62_529_16560_large.jpeg?v=1427794309" alt="Gnarly Shoes"> </a>
              <div class="product-caption">
                <h5> <a href="/products/gnarly-shoes-1">Gnarly Shoes</a> </h5>
                <p>
                  <strong>€120.00</strong>
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-4 col-xs-6">
            <div class="product-grid-item thumbnail">
              <a href="/products/gnarly-shoes" class="grid__image">
                <img class="grid-img" src="//cdn.shopify.com/s/files/1/0750/5653/products/WEB105500690_thum1_163_1900_18576_large.jpeg?v=1427794310" alt="Gnarly Shoes"> </a>
              <div class="product-caption">
                <h5> <a href="/products/gnarly-shoes">Gnarly Shoes</a> </h5>
                <p>
                  <strong>€120.00</strong>
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-4 col-xs-6">
            <div class="product-grid-item thumbnail">
              <a href="/products/good-ol-shoes" class="grid__image">
                <img class="grid-img" src="//cdn.shopify.com/s/files/1/0750/5653/products/ALS91CCZ3_thum1___7614_large.jpeg?v=1427794311" alt="Good Ol' Shoes"> </a>
              <div class="product-caption">
                <h5> <a href="/products/good-ol-shoes">Good Ol' Shoes</a> </h5>
                <p>
                  <strong>€110.00</strong>
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-4 col-xs-6">
            <div class="product-grid-item thumbnail">
              <a href="/products/hip-shoes" class="grid__image">
                <img class="grid-img" src="//cdn.shopify.com/s/files/1/0750/5653/products/WEB105494765_thum1_163_1768_18573_large.jpeg?v=1427794312" alt="Hip Shoes"> </a>
              <div class="product-caption">
                <h5> <a href="/products/hip-shoes">Hip Shoes</a> </h5>
                <p>
                  <strong>€120.00</strong>
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-4 col-xs-6">
            <div class="product-grid-item thumbnail">
              <a href="/products/insane-shoes" class="grid__image">
                <img class="grid-img" src="//cdn.shopify.com/s/files/1/0750/5653/products/ALCCRGBR-F081_thum1___107_large.jpeg?v=1427794313" alt="Insane Shoes"> </a>
              <div class="product-caption">
                <h5> <a href="/products/insane-shoes">Insane Shoes</a> </h5>
                <p>
                  <strong>€120.00</strong>
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-4 col-xs-6">
            <div class="product-grid-item thumbnail">
              <a href="/products/nice-shoes" class="grid__image">
                <img class="grid-img" src="//cdn.shopify.com/s/files/1/0750/5653/products/ADG20065_thum1_177_2152_20721_large.jpeg?v=1427794313" alt="Nice Shoes"> </a>
              <div class="product-caption">
                <h5> <a href="/products/nice-shoes">Nice Shoes</a> </h5>
                <p>
                  <strong>€120.00</strong>
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-4 col-xs-6">
            <div class="product-grid-item thumbnail">
              <a href="/products/old-school-kicks" class="grid__image">
                <img class="grid-img" src="//cdn.shopify.com/s/files/1/0750/5653/products/m1300ggb-1_1_large.jpeg?v=1427794314" alt="Old School Kicks"> </a>
              <div class="product-caption">
                <h5> <a href="/products/old-school-kicks">Old School Kicks</a> </h5>
                <p>
                  <strong>€110.00</strong>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
